body{
    background-size: #fff;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Zen Kaku Gothic New'
}
.form_shadows{
    position: relative;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 7px;
    border-style: solid;
    border-width: medium;
    box-shadow: 7px 7px;
}
.form_shadows h2{
    text-align: center;
}
.form_shadows input{
    display: block;
    margin: 1rem 0;
    width: 90%;
    padding: 12px 14px;
    font-size: 15px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    outline: none;
}
.forget{
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
}
.copyright{
    margin-top: 10px;
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 10px;
}
.buttonShadow{
    color: black;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    width: 200px;
    height: 50px;
    border-color: black;
    border-style: solid;
    background-color: pink;
    margin: 30px 30px 30px 30px;
    border-radius: 7px;
    box-shadow: 7px 7px;
    font-family: 'Zen KaKu Gothic New';
    font-weight: 500;
}
.buttonShadow:hover{
    box-shadow: 4px 4px;
    cursor: pointer;
}